@import "../variables.scss";

.expense-div {
  padding-bottom: 80px;
  padding-top: 80px;
}

.line-parent {
  text-align: center;
  h1 {
    font-weight: bolder;
  }
}

.line {
  border-radius: 18px;
  background: $primary-color;
  margin-bottom: 15px;
  width: 52px;
  height: 10px;
  display: inline-block;
}

.images-div {
  padding-top: 50px;
  h4 {
    font-weight: bolder;
    padding-top: 20px;
  }
  p {
    color: #353434;
    font-size: 18px;
  }
}
