@import "../variables.scss";

.question-main-div {
  padding-top: 80px;
  h1 {
    font-weight: bolder;
  }
}

.question-div {
  padding-top: 50px;
}

.accordion-div {
  .question-p {
    font-size: 20px;
    color: #4a4a4a;
  }
  .answer-p {
    color: #4a4a4a;
  }
}

.bold {
  font-weight: 500;
}

@media (max-width: 1024px) {
  .accordion-div {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .question-main-div {
    padding-top: 40px;
  }
  .accordion-div {
    .question-p {
      font-size: 18px;
    }
  }
}

@media (max-width: 425px) {
  .question-main-div {
    padding-top: 20px;
  }
  .accordion-div {
    .question-p {
      font-size: 16px;
    }
  }
}
