@import "../variables.scss";

.income-modal {
  .modal-content {
    border-radius: 24px;
  }

  .modal-header {
    padding: 20px 30px;
    border-bottom: none;

    .modal-title {
      font-size: 28px;
      font-weight: bold;
    }
  }

  .modal-body {
    padding: 0 30px 30px;

    .dropdown-input {
      position: relative;

      .dropdown-icon,
      .clear-selection-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }

      .dropdown-icon {
        right: 20px;
      }

      .clear-selection-icon {
        right: 40px;
      }

      .dropdown-menu {
        display: block;
        min-width: 100%;
        margin-top: 5px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        .dropdown-item {
          padding: 15px;

          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }

    .description-form {
      width: 100%;
      margin-top: 15px;
      background-color: #eef3f5;
      border-radius: 10px;
      textarea {
        padding: 20px;
        width: 100%;
        background-color: #eef3f5;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }

    .income-form,
    .date-form,
    .category-form,
    .accessories-form,
    .payment-form {
      margin-top: 15px;
      padding: 17px 20px;
      border-radius: 10px;
      background-color: #eef3f5;
      border: none;

      &:focus {
        box-shadow: none;
      }

      &.empty-field {
        padding-right: 50px;
      }
    }

    .accessories-menu {
      overflow-y:scroll;
      height: 250px;
    }

    .pkr-div {
      padding-top: 30px;
    }

    .date-form {
      width: 100%;

      &:focus {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }

    .date-picker-wrapper {
      position: relative;

      .date-form {
        padding-right: 40px;
      }

      .calendar-icon {
        position: absolute;
        top: 60%;
        right: 10px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        color: #a7abac;
        cursor: pointer;
      }
    }

    .dropdown-menu {
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: #f2f2f2;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d9d9d9;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #b3b3b3;
      }
    }
  }

  .income-footer {
    border-top: none;
    padding: 0 30px 30px 30px;

    .addincome-btn {
      padding: 18px 0;
      width: 100%;
      border-radius: 10px;
      font-weight: 700;
      background: linear-gradient(90deg, rgb(83, 119, 211), rgb(139, 215, 230));
      border: none;
    }
  }
}

@media (max-width: 768px) {
  .description-form {
    width: 50%;
    textarea {
    width: 100%;
  }
  }
}

@media (max-width: 576px) {
  .modal-90w {
    width: 90%;
  }
}